{
  "extends": ["eslint:recommended"],
  "plugins": ["@babel/eslint-plugin"],
  "parser": "@babel/eslint-parser",
  "parserOptions": { 
    "ecmaVersion": 2018, 
    "sourceType": "module",
    "requireConfigFile" : false
  },
  "rules": {
    "no-unused-vars": "off",
    "no-console": "off"
  },
  "env": {
    "node": true
  }
}